.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/ApprentissagePHP/FileContentIndex/3cffe2b0-dc55-47ac-8e9c-78dd2d2092ce.vsidx
.vs/ApprentissagePHP/FileContentIndex/read.lock
.vs/ApprentissagePHP/v17/.wsuo
